
.bg-image {
    background-image: url("/image-newyork.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin-top: 0;
}

#header {
    background-color: #333;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);
    transition: 0.2s;
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);
    margin-top: 0;
}

.header {
    margin-top: 0;
}


.menu {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3px;

}

.button-group {
    opacity: 1;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
    margin-top: 20px;
}

.button-group a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);
}

.button-group a:hover {
    background-color: #ddd;
    color: black;
    font-weight: 400;
}

.button-group a.active {
    background-color: #268daf;
    color: white;
}

.button-group a.active:hover {
    background-color: #0daad1;
    color: black;
}

.button-group .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .button-group a:not(:first-child) {
        display: none;
    }

    .button-group a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .button-group.responsive {
        position: relative;
    }

    .button-group.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .button-group.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* -------------------------------------------------------------
styling for booking page
 */

.input-menu {
    width: 100%;
    height: 750px;
    margin-top: 20px;
    text-align: center;
}

.personeldata-column {
    background-color: #a7a7a7;;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 20px;
    width: 500px;
    height: auto;
    margin: auto;
}

.personeldata-column input {
    padding: 10px 20px;
    margin: 10px 10px;
    margin-top: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}


.bookinginfo-column {
    background-color: #525368;
    width: 500px;
    height: auto;
    margin: auto;
    padding-bottom: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bookinginfo-column input {

    padding: 10px 20px;
    margin: 10px 10px;
    margin-top: 0;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.bookinginfo-column select {
    padding: 10px 20px;
    margin: 15px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.view-button {
    background-color: #268fc2;
    border-radius: 3px;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    cursor: pointer;
    width: 90px;
    margin-left: 5px;
    margin-top: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.view-button:hover {
    background-color: #2aa5e1;
    color: white;
    font-weight: 400;
}

.button-submit {
    background-color: #0DAAD1;

    padding: 25px 184px;
    margin: 15px 10px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #06e6ff;
    color: white;
    font-weight: 400;
}


.fields {

    color: #121212;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);


}

.fields-data {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);
}


.booking-table {

    border-radius: 4px;
    align-content: center;
    margin: auto;
    margin-top: 30px;
    background-color: #f5f5f5;
    shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);
}

html {
    max-width: 1400px;
    position: relative;
}

th {
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 2px;
    margin-left: 30px;
    text-align: left;
}

td {
    border-radius: 2px;
    width: 120px;
    padding-bottom: 5px;
    text-align: center;
    shadow: 1px 4px 8px rgba(0, 0, 0, 0.67);
}

p {

    display: inline;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 150px;
    margin-right: 58px;
    margin-left: 30px;
    float: left;
    text-align: left;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}







